td{
  text-align:center;
}
.photo-td{
  width:130px;
  text-align:left;
}

.photo-desp{
  width:80px;
  text-align:left;
}

.price-td{
  width:90px;
  vertical-align:middle;
  text-align:center;
  valign:middle;
}

.quantity-td{
  width:40px;
  vertical-align:middle;
  text-align:center;
  valign:middle;
}

.action-td{
  width:160px;
  vertical-align:middle;
  text-align:center;
  valign:middle;
}

a:link {color:#272727;} /* 没访问过的链接样式 */
a:visited {color:#272727;} /* 访问过的链接样式 */
a:hover {color:#272727;} /* 鼠标进入链接区域的链接样式 */
a:active {color:#272727;} /* 点击链接时的链接样式 */


table{
  rules:none;
  border: 1px solid #F3F3FA;
  background:#F0F0F0;
}

table:hover {
    border: 1px solid #6C6C6C;
}


.info{float:left;list-style:none;width:33%;text-align:left;}
