.head{
	height: 90px;
	background: url(../Img/login_hdbg.jpg) repeat;
}

.foot{
	clear:both;
	color: #333;
	position: relative;
  	margin-top: -50px; 
  	height: 50px;
}

.left {
	height: 605px;
}

.right{
	height: 605px;
}
