<!DOCTYPE html>
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
<!--<![endif]-->
	<head>
		<meta charset="utf-8">
		<title>Secondhand Store</title>
		<meta name="description" content="Worthy a Bootstrap-based, Responsive HTML5 Template">
		<meta name="author" content="htmlcoder.me">

		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,400,700,300&amp;subset=latin,latin-ext' rel='stylesheet' type='text/css'>
		<link href='http://fonts.googleapis.com/css?family=Raleway:700,400,300' rel='stylesheet' type='text/css'>
		<!-- <link href="__WORTHY__/bootstrap/css/bootstrap.css" rel="stylesheet"> -->
		<link href="__STATIC__/bootstrap/css/bootstrap.css" rel="stylesheet">
		<link href="__WORTHY__/fonts/font-awesome/css/font-awesome.css" rel="stylesheet">
		<link href="__WORTHY__/css/animations.css" rel="stylesheet">
		<link href="__WORTHY__/css/style.css" rel="stylesheet">
		<!-- <link href="__WORTHY__/css/style1.css" rel="stylesheet"> -->
		<link href="__WORTHY__/css/custom.css" rel="stylesheet">


	</head>

	<body class="no-trans">
		<!-- scrollToTop -->
		<!-- ================ -->
		<div class="scrollToTop"><i class="icon-up-open-big"></i></div>
<div class="topbar animated fadeInLeftBig"></div>

<!-- Header Starts -->
<div class="navbar-wrapper">
      <div class="container">

        <div class="navbar navbar-default navbar-fixed-top" role="navigation" id="top-nav">
          <div class="container">
            <div class="navbar-header" style="height:80px">
              <!-- Logo Starts -->
              <a class="navbar-brand" href="{:U('Home/Index/index')}"><img src="__IMG__/logo.png" alt="logo"></a>
              <!-- #Logo Ends -->

             <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
            </div>

            <!-- Nav Starts -->
				<block name="navbar">
					<div class="navbar-collapse  collapse">
					</br>
					<ul class="nav navbar-nav navbar-right scroll">
							<li role="presentation"><a href="{:U('Home/Index/index')}"  class="navbar-link">Home</a></li>
							<li role="presentation"><a href="{:U('Home/User/login')}" class="navbar-link">Sign In</a></li>
							<li class="active" role="presentation"><a href="{:U('Home/User/mybooks')}" class="navbar-link">My Books</a></li>
							<li role="presentation"><a href="#contact" class="navbar-link">Contact</a></li>
					</ul>
				</div>
				</block>
				<!-- #Nav Ends -->

          </div>
        </div>

      </div>
    </div>
</br></br>
<!-- #Header Starts -->

		<block name="middle">
			内容区
		</block>

	<footer>
		<div class="subfooter">
				<div class="container">
					<div class="row">
						<div class="col-md-12">
							<p class="text-center">Copyright © 2014 Worthy by <a target="_blank" href="http://htmlcoder.me">HtmlCoder</a>.</p>
						</div>
					</div>
				</div>
			</div>
			<!-- .subfooter end -->
		</footer>
		<!-- footer end -->

		<!-- JavaScript files placed at the end of the document so the pages load faster
		================================================== -->
		<!-- Jquery and Bootstap core js files -->


		<!-- // <script type="text/javascript" src="__WORTHY__/plugins/jquery.min.js"></script> -->
		<script type="text/javascript" src="__WORTHY__/bootstrap/js/bootstrap.min.js"></script>
		<script type="text/javascript" src="__WORTHY__/plugins/modernizr.js"></script>
		<script type="text/javascript" src="__WORTHY__/plugins/isotope/isotope.pkgd.min.js"></script>
		<script type="text/javascript" src="__WORTHY__/plugins/jquery.backstretch.min.js"></script>
		<script type="text/javascript" src="__WORTHY__/plugins/jquery.appear.js"></script>
		<script type="text/javascript" src="__WORTHY__/js/template.js"></script>
		<script type="text/javascript" src="__WORTHY__/js/custom.js"></script>

	</body>

</html>
