
<html>
	<head>
		<title>99m商城</title>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />	
		<link rel="stylesheet" href="__STATIC__/bootstrap/css/bootstrap.css">
		<link type="text/css" rel="stylesheet" href="__CSS__/user.css" />
		<link rel="stylesheet" type="text/css" href="__CSS__/user1.css">
		<script src="__STATIC__/jquery-2.1.3.min.js"></script>
		<script src="__STATIC__/bootstrap/js/bootstrap.min.js"></script>
	</head>

	<body>

	<div class="container-fluid head">
		<div class="row">
		  	<block name="header">
		    	头部..
		    </block>
		</div>
	</div>

	<div class="container-fluid  middle">
		<div class="row">
			<div class="pull-left col-md-2 left">
				<block name="m1">
				
				</block>
			</div>

			<div class="pull-left col-md-8 left">
				<block name="navigation">
					左侧功能栏
				</block>
			</div>

			<div class="pull-left col-md-2 left">
				<block name="m2">
				
				</block>
			</div>

		</div>
	</div>


		
	<div class="container-fluid foot">
	  <div class="row">
	  	<block name="footer">
	    	底部版权声明...
	    </block>
	  </div>
	</div>

	</body>
</html>