<extend name="Public:base"/>

<block name="header">
	<div class="head-box">	
		<div class="logo"><img src="__PUBLIC__/Img/logo.png"/></div>
		<div class="phone">网购热线：<span>4007-222-222</span></div>
</div>
</block>

<block name="navigation">
	<div class="login_wrap ">
	<div class="login_wrapL"></div>
	<div class="login_wrapR">
	<div class="titler" align="center"><b>用户登录</b></div><br/><br/><br/><br/>
<div id='notice'>
	
	<form role="form" id='register_form' action="{:U('Home/User/login')}" method="post">
		<div class="form-group">
			<label for="exampleInputEmail1">用户名</label>
			<input name="username" type="text" class="form-control" id="username" placeholder="" value="{$user.uname}">
		</div>
		<div class="form-group">
			<label for="exampleInputPassword1">密码</label>
			<input name="upwd" type="password" class="form-control" id="pwd" placeholder="Password">
		</div><br/><br/>
		<input id='btn' type="button" class="btn btn-default" value="登录"/>&nbsp;&nbsp;&nbsp;<a class="registerbtn" href="{:U('Home/User/register')}">免费注册</a>

	</form>


	</div>
	</div>
</div>
</block>

<block name="footer">
	<div class="footwrap" align="center">
	<div><p>Copyright 2012-2014 www.99mi.com All Rights Reserved 京ICP备13035787号</p></div>
	<div class="foot-img" align="center">
		<img src="__PUBLIC__/Img/zj_01.jpg"/>
		<img src="__PUBLIC__/Img/zj_02.jpg"/>
		<img src="__PUBLIC__/Img/zj_03.jpg"/>
		<img src="__PUBLIC__/Img/zj_04.jpg"/>
		<img src="__PUBLIC__/Img/zj_05.jpg"/>
	</div>
</div>

<script>
$(function(){
	
	$('#btn').click(function(){
		var $uname = $('#username').val();
		var $pwd = $('#pwd').val();
		$action = $('#register_form').attr('action');
		
		$.post($action,{username:$uname,upwd:$pwd},function(data){
			if(typeof(data.msg)!='undefined'){alert(data.msg);}
			window.location.href=data.url;
			
		});
	})
	
})
</script>
</block>