<extend name='Public:base1'/>

<block name="navbar">
	<div class="navbar-collapse  collapse">
	</br>
	<ul class="nav navbar-nav navbar-right scroll">
		<li><a href="{:U('Home/Index/index')}">Home</a></li>
		<li class="active"><a href="{:U('Home/User/mybooks')}">My Books</a></li>
		<!-- <li><a href="#contact">Contact</a></li> -->
		<li><a href="{:U('Home/User/login')}">Sign In</a></li>
		<li><a href="#"></a></li>

		<li class="dropdown">
			<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
				<span class="glyphicon glyphicon-user" aria-hidden="true"></span>
				<if condition="!empty($_SESSION['user_name'])" >
					{$Think.session.user_name}
					<span class="caret"></span></a>
					<ul class="dropdown-menu" role="menu">
						<li><a href="{:U('Home/User/mybooks')}">My UsedBooks</a></li>
						<li><a href="{:U('Home/Goods/release')}">Release Books</a></li>
						<li><a href="{:U('Home/User/accouts')}">Account Settings</a></li>
						<li class="divider"></li>
						<li><a href="{:U('Home/User/logout')}"><span class="glyphicon glyphicon-off" aria-hidden="true"></span>Log Out</a></li>
					</ul>
					<else/>
					Account
					<span class="caret"></span></a>
					<ul class="dropdown-menu" role="menu">
						<li class="disabled"><a href="#">My UsedBooks</a></li>
						<li class="disabled"><a href="#">Release Books</a></li>
						<li class="disabled"><a href="#">Account Settings</a></li>
						<li class="divider"></li>
						<li><a href="{:U('Home/User/logout')}"><span class="glyphicon glyphicon-off" aria-hidden="true"></span>Log Out</a></li>
					</ul>
				</if>
			</li>
		</ul>
	</div>
</block>

<block name="middle">
	<link href="__CSS__/mybooks.css" rel="stylesheet">
	<script type="text/javascript" src="__WORTHY__/plugins/jquery.min.js"></script>

</br></br></br>
<div class="row">
	<div class="col-md-2"></div>
	<div class="col-md-7 panel panel-primary">
		<!-- Default panel contents -->
		<div class="panel-heading" style="height:50px;">
			<h4>我的二手书列表</h4>
		</div>
		<div class="panel-body">
			<div class="row">
				<div class="col-md-7"></div>
				<div>
					<form role="form" action="{:U('User/mybooks')}" method='post'>
						<div><input type="search text" name="search_books" placeholder="keywords"/>
							<button type="submit" >查找</button></div>
						</form>
					</div>
				</div>
			</div>

			<div class="panel-body">
				<div class="row"></div>
				<!-- <div class="col-md-1"></div> -->

				<table  width="750">
					<tr>
						<td class="photo-td">宝贝</td>
						<td class="price-td">价格(元)</td>
						<td class="quantity-td">数量</td>
						<td class="action-td">操作</td>
					</tr>
				</table>


				<!-- <tbody> -->
				<foreach name="booksList.books" item="info">
				</br>
				<table  width="750">
					<tr>
						<td colspan="2" class="photo-td">{$info.seller}：{$info.sellerphone}</td>
						<td colspan="2" class="price-td">{$info.product_name}</td>
						<td class="action-td">{$info.create_time|date="Y-m-d H:i:s",###}</td>
					</tr>
					<!-- </table>
					<table> -->
					<tr>
						<td class="photo-td">
							<div style="height:130xp;width:130px;border:1px solid #ddd">
								<empty name="info.photo">
									<img class="img-thumbnail" src="__UPLOADS__/avatar-80.png" alt="">
									<else/>
									<img class="img-thumbnail" src="__UPLOADS__/{$info.photo}" alt="">
								</empty>
							</div>
						</td>
						<td class="photo-desp">{$info.description}</td>
						<td class="price-td">{$info.price}</td>
						<td class="quantity-td">{$info.quantity}</td>

						<td class="action-td">
							<!-- <a href="{:U('Goods/detail',array('id'=>$info.id))}" class="button" role="button">详情</a>
							<a href="{:U('Category/addCategory')}">编辑</a>
							<a href="{:U('Category/addCategory')}">删除</a> -->

							<a title="查看" href="{:U('Home/Goods/detail',array('id'=>$info['id'],))}"><span class="glyphicon glyphicon-zoom-in"></span></a>&nbsp;&nbsp;
							<!-- <a title="编辑" href="{:U('Home/Goods/edit',array('id'=>$info['id'],))}"><span class="glyphicon glyphicon-edit"></span></a>&nbsp;&nbsp; -->
							<a title="删除" href="{:U('Home/Goods/delete',array('id'=>$info['id'],))}"><span class="glyphicon glyphicon-trash"></span></a>&nbsp;&nbsp;
						</td>
					</tr>
				</table>
			</foreach>
			{$booksList.page}
		</div>

		<!-- <div class="panel-footer">
			<div class="col-md-3"></div>
			{$booksList.page}
		</div> -->

	</div>
</div>
</block>
